[user]
	email = 4150769+KaremAllouji@users.noreply.github.com
	name = Karem Allouji
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true
    submodule = true
    fetch = true
    pull = true
[push]
    default = simple
[pull]
    ff = only
[core]
    excludesfile = /Users/alloujim/.gitignore
    autocrlf = input
[status]
    submoduleSummary = true
[pager]
    log = less --chop-long-lines --shift 3
[alias]
    graph = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
    cgraph = graph --date-order #chronograph
[init]
    defaultBranch = main
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
